img{height: 350px;
    width:230px;
    border-radius:100px;}
 body{transition: background-colur 0.3s ease;
background-color: white;
color: black;}  
body.dark-mode{background-color: #121212;
color: white;}
.switch{position: relative;
display: inline-block;
width: 60px;
height: 34px;} 
.switch input{opacity: 0;
width: 0;
height: 0;}
.slider::before{position: absolute;
content: "";
height: 26px; width: 26px;
left: 4px; bottom:4px;
background-colour:white;
transition: .4s;
border-radius: 50%;}
input:checked + .slider{background-color: #2196f3;
}
input:checked + .slider::before
{transform: translateX(26px);}
